<{$header}>
<P><{$purpose1}></P>
<P><{$purpose2}></P>
<P><{$purpose3}></P>
<FORM ACTION="<{$xoops_url}>/modules/xfsnippet/browse.php" METHOD="GET">
	<TABLE>
	<TR>
	<TD colspan=2>
		<B><{$contains}>:</B><br>
		<INPUT type="text" name="text" size=30>
	</TD>
	</TR>
	<TR>
	<TD><B><{$language}>:</B><BR><{$language_box}></TD>
	<TD><B><{$category}>:</B><BR><{$category_box}></TD>
	</TR>
	<TR>
	<TD><B><{$type}>:</B><BR><{$type_box}></TD>
	<TD><B><{$license}>:</B><BR><{$license_box}></TD>
	</TR>
	<TR><TD COLSPAN="2" ALIGN="MIDDLE"><br>
		<INPUT TYPE="SUBMIT" NAME="SUBMIT" VALUE="<{$search}>">
	</TD></TR>
	</TABLE>
</FORM>
<TABLE WIDTH="100%" BORDER="0">
<TR><TD></TD></TR>
<TR><TD valign="top">
<B><{$browsebylanguage}>:</B>
<P>


<{$main}>



  </TD>
 </TR>
</TABLE>

